.container {
  position: relative;
  min-width: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(12,1fr);
  grid-gap: 1px;
  padding: 1px;
  height: 100vh;
}

.grid-item {
  display: flex;
}

.grid-item-1 {
  background-color: teal;
  grid-row: 1/12;
  grid-column: 1;

}

.grid-item-2 {
  background-color: teal;
  grid-column: 2/7;
  grid-row: 1/10;

}

.grid-item-3 {
  background-color: teal;
  grid-column: 7/12;
  grid-row: 1/12;

}

.grid-item-5 {
  background-color:teal;
  grid-column: 12/13;
  grid-row: 1/12;

}

.grid-item-6 {
  background-color: teal;
  grid-column: 1/13;
  grid-row: 12/12;

}
