.btn-container {
    text-align: center;
    margin: 0 auto;
}

.button {
    border: 1px solid #C70909;
    background: none;
    padding: 9px 22px;
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    color: #C70909;
    cursor: pointer;
    transition: 0.8s;
    position: relative;
}

.button::before {
    content: "";
    position: absolute;
    left: 0;
    background: #C70909;
    border-radius: 50% 50% 0 0;
    bottom: 0;
}

.button:hover {
    background-color: #F63F3F;
    border: 1px solid white;
    color: white;
}

@media (max-width: 1199.98px) { 
    .button {
        padding: 6px 18px;
        font-size: 20px;
    }
 }