* {
    margin: 0 auto;
    padding: 0;
    max-width: 2200px;
}

@font-face {
    font-family: TexGyreTermes;
    src: url('/src/fonts/texgyretermes_regular_macroman/texgyretermes-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
}

