nav.main {
  margin: 0 auto;
  margin-top: 360px;
}

.main ul {
  list-style-type: none;
  color: #707070;
}

nav.main a {
  display: block;
  text-decoration: none;
  color: #707070 !important;
  text-transform: uppercase;
  padding: 6px;
  font-size: 21px;
  text-align: center;
  transition: 0.2s;
  font-family: 'Poppins', sans-serif;


}

nav.main a:hover {
  color: black !important;
}

nav.main a.active {
  color: black;
}