.main {
  margin: 0 auto;
  margin-top: 360px;
}

.main ul {
  list-style-type: none;
}

.main a {
  display: block;
  text-decoration: none;
  color: #707070;
  text-transform: uppercase;
  padding: 6px;
  font-size: 23px;
  text-align: center;
  transition: 0.2s;
  font-family: 'Poppins', sans-serif;


}

.main a:hover {
  color: black;
}

.main a.active {
  color: black;
}