.name-container h2 {
    font-size: 22px;
    font-family: TeXGyreTermes;
    letter-spacing: normal;
    text-align: center;
    color: #3f3862;
}

.progress {
    width: 15px;
    height: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    border: solid 0.5px #8F9FAE;
    background: #8F9FAE;
    border-radius: 100%;
}

.progress-container li {
    display: inline-block;
    margin-right: 4%;
}

.progress-null {
    width: 15px;
    height: 15px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    border: solid 0.5px #8F9FAE;
    border-radius: 100%;
    border: solid 0.5px #8F9FAE;
    background: #ffffff;
}

.progress-container {
    position: absolute;
    width: 5vw;

}

.name-container {
        margin-top: 2vh;
    }
