.social {
    position: absolute;
    top: 100%;
    left: 0%;
    margin: auto;
    transform: translate(-0%, -100%);
    z-index: 1;
    background: orange;
}


.social ul {
    list-style-type: none;
}

.social li {
}