.flex-container {
    display: flex;
    justify-items: start;
    flex-direction: column-reverse;
    z-index: 1;
}


.flex-container ul {
    list-style-type: none;
}

.flex-container li {
    margin-top: 6px;
    margin-right: -140px;
}