.container-std {
  height: 100vh;
  width: 100vw;
  outline: 5px solid green;
  outline-offset: -7vh;
}
.col-std {
  border: 5px solid blue;
}
.row-main {
  padding-top: 10vh;
  height: 90vh;
}
.row-bottom {
  height: 10vh;
  color: white;
} 
.col-btn {
  height: 75%;
}
.div-left {
  background-color: red;
  position: absolute;
  top: 8%;
  right: 8%;
  bottom: 8%;
  left: 8%;
  margin: auto;

 /* margin-top: 12%;
  height: 75%;
  width: 80%;
  background: red;
  /*width:70%;*/
  /*height: 50%;*/
  /*position: absolute;*/
  /*left: 50%;*/
  /*top: 50%;*/
  /*transform: translate(-50%, -50%);*/
}
.col-text {
  height: 56vh;
  background: #00b3ff;
}
