.title {
    padding-top: 265px;
    margin-bottom: 150px;
    margin-left: 140px;
    padding-bottom: 20px;
    margin-right: 220px;
    border-bottom: 1.5px solid black;

}

.title h1 {
    font-family: TeXGyreTermes;
    font-size: 68px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #3f3862;
}

.text {
    margin-left: 140px;
    margin-top: -120px;
    padding: 0px;
    margin-right: 220px;
}

.text p {
    font-family: TeXGyreTermes;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: justify;
    color: #8F9FAE;
}