.text-container {
  top: 20%;
  bottom: 15%;
  position: absolute;
  left: 0.1%;
  right: 0.1%;
}

.title {
    width: 100%;
    border-bottom: 1px solid black;
    padding-bottom: 4%;
    padding-top: 4%;
}
.title h1 {
    font-family: TeXGyreTermes;
    font-size: 72px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #3f3862;
}


.text p {
    margin-top: 5%;
    font-family: TeXGyreTermes;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: justify;
    color: #8F9FAE;
}


@media (max-width: 1600px) {
    .title h1 {
        font-size: 64px;
    }

    .text p {
        font-size: 22px;
    }
    .text-container {
        top: 22%;
    }
   }
   
   @media (max-width: 1400px) {
    .title h1 {
        font-size: 55px;
    }

    .text p {
        font-size: 20px;
    }
   }
   
   @media (max-width: 992px) {
    .title h1 {
        font-size: 40px;
    }

    .text p {
        font-size: 20px;
    }
   }