.div-main {
  width:96vw;
  height: 96vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.container-std {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  width: 100vw;
  outline: 1.5px solid black;
  outline-offset: -7vh;
}
.row-main {
  padding-top: 10vh;
  height: 90vh;
}
.row-bottom {
  height: 10vh;
  color: white;
} 
.col-btn {
  height: 75%;
}
.div-center {
  position: absolute;
  top: 4%;
  right: 4%;
  bottom: 4%;
  left: 4%;
  margin: auto;
}
.div-left {
  position: absolute;
  top: 8%;
  right: 8%;
  bottom: 8%;
  left: 8%;
  margin: auto;

 /* margin-top: 12%;
  height: 75%;
  width: 80%;
  background: red;
  /*width:70%;*/
  /*height: 50%;*/
  /*position: absolute;*/
  /*left: 50%;*/
  /*top: 50%;*/
  /*transform: translate(-50%, -50%);*/
}

.div-right {
  position: absolute;
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;
  z-index: 3;
}

.col-text {
  height: 56vh;
}

.col-picture {
  height: 100%;
}

.col-stats {
  height: 12vh;
}

.row-cv {
  height: 60vh;
}

.col-toggle {
  background: red;
}

.div-toggle {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 15%;
  width: 30%;
  transform: translate(-50%, -50%);
  background: yellow;
}
.div-inner-toggle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.item-text {
  width: 100%;
  height: 55vh;

}

.item-stats {
  width: 100%;
}

.item-picture {
  height: 60vh;
}